<template>
  <div class="text-center pt-2">
    <img
      src="~/assets/Heng_Mouyleng_CV.png"
      class="pa-1"
      width="auto"
      style="border: 1px solid #e6e6e6"
    />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
</style>